The local university requires a program to manage one its student hostels, which contains a number of rooms, each of which can be occupied by a single tenant who pays rent on a monthly basis. The program must keep a list of tenants and their monthly payments. The information held for each tenant will consist of a name, a room number and a list of all the payments a tenant has made (month and amount) for one year. The program must allow the user to add and delete tenants, to display a list of all tenants, to records a payment for a particular tenant, and to display the payment history of a tenant.